.upgrade-holder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.upgrade-title {
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-size: 2.5em;
    color: pink;
    text-shadow: 2px 2px 0 white, 4px 4px 0 red;
    font-family: var(--font-norm);
    font-weight: 100;
}

.upgrade-button {
    width: 90%;
    padding: 10px 0;
    background-color: rgb(28, 0, 0);
    border: 2px solid pink;
    color: white;
    border-radius: 10px;
    margin: 1vh 0;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    transition: all 300ms ease;
}

.upgrade-button:not(:disabled):hover {
    transform: scale(1.02);
}

.upgrade-button:not(:disabled):active {
    transform: scale(0.98);
    transition: transform 100ms ease;
}

.upgrade-button:disabled {
    background-color: rgba(0, 0, 0, 0.353);
    border: 2px solid rgba(255, 255, 255, 0.376);
    color: rgba(255, 255, 255, 0.45);
    cursor: default; /* optional: show normal cursor when disabled */
}

.upgrade-top {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.upgrade-name {
    padding-left: 2vw;
    text-align: left;
    font-family: var(--font-norm);
    font-weight: 100;
}

.upgrade-price {
    padding-left: 2vw;
    text-align: left;
    font-family: var(--font-norm);
    font-weight: 100;
}

.upgrade-count {
    font-size: 3em;
    font-family: var(--font-norm);
    font-weight: 100;
}

.upgrade-holder::-webkit-scrollbar {
    width: 0px;
}

.upgrade-holder::-webkit-scrollbar-track {
    background: transparent; /* fully transparent track */
}