.clicker-game {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/src/assets/images/texture/texture5.png");
}

.auto-upgrades {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 100px rgb(0, 0, 0);
    border-right: 10px ridge rgb(182, 182, 182);
    border-left: 30px double rgb(74, 0, 0);
    background-image: url("/src/assets/images/texture/pinstripe-light.png");
}

.click-button {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.direct-upgrades {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: black;
    border-left: 10px ridge rgb(182, 182, 182);
    border-right: 30px double rgb(74, 0, 0);
    box-shadow: 0 0 100px rgb(0, 0, 0);
    background-image: url("/src/assets/images/texture/pinstripe-light.png");
}

.heart-layer {
    position: fixed;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
    width: 38%;
    margin: 0 31%;
}

.heart {
    position: absolute;
    top: -40px;
    font-size: 24px;
    animation: fallFade 1.5s ease-out forwards;
}

@keyframes fallFade {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}