/* ===== [ FONTS ] ===== */
@font-face { /* Gradzy */
  font-family: 'titleText';
  src: url('../assets/fonts/titleFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face { /* Runtime Regular */
  font-family: 'normText';
  src: url('../assets/fonts/normText.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* ===== [ ROOT STYLES ] ===== */
:root {
    /* Fonts */
    --font-title: 'titleText', sans-serif;
    --font-norm: 'normText', sans-serif;
    /* Colors */
    --black: #000000;
    --white: #ffffff;
    --gray-light: #d3d3d3;
    --gray-dark: #252525;
    --blue: #0080ff;
    --red: #ff0000;
    --green: #32cd32;
    --yellow: #ffd700;
    --purple: #9f2ec2;
    --orange: #ff8c00;
    --teal: #75dada;
    --pink: #ff69b4;
}

/* ===== [ GLOBAL STYLES ] ===== */
html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

